body{
    margin: 0;
    padding: 0;
    background: url(https://github.com/dani117m/Calculadora/blob/master/fondo.jpg?raw=true) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
    width: 420px;
    height: 420px;
    
    background: rgba(217, 217, 217, 0.8);
    color: #000000;
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;


}



.titulo-login h1{
    margin: 20;
    font-size: 34px;
    color: #000000;
    top: 30%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;
}

.login-box h1{
    margin: 10;
    padding: 0 0 0px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;


}

.login-box input{
    width: 100%;
    margin-bottom: 25px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #00be00;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;

}

.login-box a:hover {
    color: #fff;
}